@import "./partials/variables";

@import "./partials/reset";

:root {
    /* --New-Swatch: #33050A;lo utilice para algunos titulos */
    /* --New-Swatch: #66141E;este color lo utilice para el nav */
    --New-Swatch: #992E3A;
    --New-Swatch: #CC5260;
    --New-Swatch: #FF808E;
}

@import "./partials/header";

// Imagen de todos las paginas
.imagen-main{
    width: 100%;
    background-image: cover;
    padding: 20px;
    border-radius: 30px;
}

// Maps para frente de Inicio

$mainInicio: (
    preguntasize: 2rem,
    titulosize: 7rem,
    parrafosize: 1.5rem,
);

.frase{
    margin: 20px;
    font-size: map-get($map: $mainInicio, $key:preguntasize);
    font-weight: bold;
    text-align: center;
}

.fraseautor{
    font-size: 1.8rem;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 20px
}

.pregunta-div-index{
    margin: 50px 20px 50px 20px;
}

.pregunta-index{
    font-size: map-get($map: $mainInicio, $key: preguntasize);
    font-weight: bold;
    margin-left: 100px;
    color: $colortexto2;
}

.pregunta-index-titulo{
    @extend .pregunta-index;
    font-size: map-get($map: $mainInicio, $key: titulosize);
    color: $colortexto3;
}

.pregunta-index-parrafo{
    font-size: map-get($map: $mainInicio, $key: parrafosize);
    font-weight: lighter;
    margin: 10px 0 10px 100px;
}

.pregunta-index-subtitulo{
    @extend .pregunta-index-parrafo;
    font-style: italic;
    font-weight: bold;
    color: $colortexto3;
}

/* COMIENZO DE LA PAGINA DE NOSOTROS*/

/* este codigo de caja 1 tambien se utilizo para otras paginas */

// Maps para los titulos de caja 1, que son los titulos principales de cada pg
$maintittlesize: (
    bigtittle: 3rem,
    smalltittle: 1.5rem,
);

.caja1{
    /* box modelling */
    /* background-color: aqua; */
    padding: 10px;
    margin: 15px;

    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja1 h3{
    font-size: map-get($map: $maintittlesize, $key: smalltittle);
    color: $colortexto2; 
}

.caja1 h1{
    font-size: map-get($map: $maintittlesize, $key: bigtittle);
    color: $colortexto3;
    text-align: center;
}

.segundacaja{
    /* background-color: aqua; */
    padding: 10px;
    margin-block: 50px;
    height: 300px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.segundacaja p{
    /* background-color: #33050A; */
    display: flex;
    align-items: center;

    text-align: justify;
    width:50%;
    padding: 10px;
    font-size: 1.5rem;
}


.slide{
    /* background-color: #33050a; */
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}


.carousel-inner{
    width: 400px;
}

.terceracaja{
    /* background-color: aqua; */
    width: 100%;
    height: 300px;
    
    
    display: flex;
    justify-content: space-evenly;
}

.terceracaja__caja{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.terceracaja__caja h3{
    font-size: 1.5rem;
    color: $colortexto2;
    /* background-color: #33050A */
}

.terceracaja__caja h2{
    font-size: 3rem;
    color: $colortexto3 ;
    /* background-color: antiquewhite; */
}

.terceracaja__caja p{
    margin-top: 20px;
    /* background-color: blue; */
    font-size: 1.5rem;
    height: 200px;
    display: flex;
    align-items: center;
    text-align:justify;
}

/* Cards de la pagina NOSOTROS */

.cartas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    /* background-color: red; */
    margin-block: 50px;
}

.carta{
    width: 20%;
    /* background-color: red; */
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-inline: 1.5%;
    margin-block: 20px;
    border: 2px double $colortexto1 ;
    overflow: auto;
}

.carta__imagen{
    width: 100%;
    border-radius: 10PX;
    @extend .iframe_youtube
    
}

.carta__titulo{
    font-size: 1.1rem;
    text-align: center;
    color: $colortexto1;
}

.carta__parrafo{
    font-size: 0.99rem;
    text-align: justify;
    height: 143px;
}

.carta__boton{
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: #FF808E;
}

.carta__imagen, .carta__titulo, .carta__parrafo{
    margin-bottom: 10px;
}

/* cuadro de las listas de reproducción */

.musica{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-block: 100px;
    
}

.musica__listas{
    display: flex;
    flex-direction: column;
    /* background-color: #66141E; */
    margin-left: 50px;
    height: 150px;
}

.musica__listas iframe{
    border-radius: 10px;
}

.iframe_youtube, .mapaa{
    box-shadow: 0px 0px 12px black;
}

.musica__titulo{
    /* background-color: aqua; */
    margin-right: 50px;
    padding: 10px;
    width: 40%;
    font-size: 4rem;
    text-align: center;
    color: $colortexto2;

    display: flex;
    align-items: center;
}

/* AQUI TERMINA PAGINA DE NOSOTROS */

/* AQUI EMPIEZA PAGINA DE UBICACIÓN */

.textoubicacion{
    /* background-color: red; */
    margin: 10px;
    height: 100px;
    font-size:1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mapa{
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.mapa  iframe{
    border-radius: 100px;
}

/* AQUI INICIA PAGINA DE PREGUNTAS FRECUENTES */

.preguntas{
    /* background-color: red; */
    width: 100%;
    height: 1000px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.preguntasnumero{
    /* background-color: aqua; */
    height: 150px;
    /* border: 1px solid #992E3A; */
    background-color: $colortexto1;
    color: white;
    border-radius: 20px;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;  
    text-align: center;
}

.preguntasnumero1::before{
    content: "¿Las mujeres pueden entrenar calistenia?";
    position: absolute;
}

.preguntasnumero1::after{
    content: "Todas las personas pueden entrenar Calistenia sin importar su sexo.";
    opacity: 0;
}

.preguntasnumero2::before{
    content: "Si nunca he hecho ejercicio. ¿Puedo entrenar calistenia?";
    position: absolute;
}

.preguntasnumero2::after{
    content: "Los entrenamientos de calistenia son aptos para todas las personas. Estos entrenamientos empiezan con ejercicios faciles y poco a poco se aumenta la dificultad.";
    opacity: 0;
}

.preguntasnumero3::before{
    content: "¿Se puede empezar calistenia si se tiene sobrepeso?";
    position: absolute;
}

.preguntasnumero3::after{
    content: "No quiere decir que no puedes realizar calistenia, hay otras variantes y ejecicios que se pueden realizar según tu salud y estado físico.";
    opacity: 0;
}

.preguntasnumero4::before{
    content: "¿Debo usar guantes para entrenar esta discipina?";
    position: absolute;
}

.preguntasnumero4::after{
    content: "La decisión si usar o no guantes depende completamente del atleta. No es obligación";
    opacity: 0;
}

.preguntasnumero:hover::before{
    opacity: 0;
}

.preguntasnumero:hover::after{
    opacity: 1;
}

/* AQUI INICIA PAGINA DE CONTACTO */

.contenedor{
    margin-block: 60px;
    display: flex;
    /* background-color: aqua; */
}

.contenedor_izq{
    /* background-color: yellow; */
    margin: 40px;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenedor_izq_texto{
    text-align: center;
    font-size: 3rem;
    color: $colortexto3;
    margin-bottom: 10px;
}

.contenedor_izq_texto h2{
    padding-top: 5px;
    color: $colortexto2;
}

.links{
    color: black;
    font-size: 1.2rem;
    margin-inline: 20px;
}

.contenedor_der{
    /* background-color: violet; */
    margin: 20px;
    width: 40%;
}

.formcaja{
    padding-block: 10px;
    display: flex;
    flex-direction: column;
}

.inputs{
    color: white;
    background-color: $colortexto2;
}

@import "./partials/footer";

@import "./partials/mediaqueries";