.logoW{
    /* este es el boton de whatsapp en la esquina inferior derecha */
    position: fixed;
    bottom: 0;
    right: 0;
}


.iconos{
    text-align: center;
    margin: 20px;
}
.iconos a{
    color: black;
}


.texto-footer{
    margin-bottom: 20px;
    @extend .copyright
}

.imagenesfooter{
    margin: 20px;
    display: flex;
    justify-content: center; 
}


.copyright{
    text-align: center;
    font-size: 1.5rem;
}

*{
    font-family: sans-serif;
}