a{
    text-decoration: none;
}

header{
    display: flex;
    min-height: 70px;
    background-color: #66141E;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px 10px 60px;
    font-size: 1.2rem;
    position: sticky;
    top: 0px; 

    z-index: 1;
    border-bottom: white 1px solid;
}

.abrir-menu,
.cerrar-menu{
    display: none;
}

.logo{
    display: flex;
    align-items: center; 
}

.textoheader{
    color: white;
}

.logo img{
    height: 50px;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-weight: 600;
}

li{
    padding-right: 20px;
    
}

.navitems.active a, .navitems a:hover{
    text-decoration: underline;
}

nav a:hover{
    color: white;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}